<th:block th:fragment>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Animal Paradise</title><!-- Bootstrap core CSS -->

        <link rel="stylesheet" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}">
        <link rel="stylesheet" th:href="@{/css/scrolling-nav.css}">
        <link rel="shortcut icon" th:href="@{/images/favicon.png}" type="image/x-icon">
        <link rel="stylesheet" th:href="@{/fonts/material-icon/css/material-design-iconic-font.css}">
        <link rel="stylesheet" th:href="@{/css/style.css}">
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
        <script src="https://cdn.jsdelivr.net/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="/vendor/jquery/jquery.min.js"></script>
        <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
        <script src="/js/main.js"></script>
    </head>
</th:block>