<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
<span th:replace="fragments/header :: header"></span>
<main>
    <form th:method="post" th:action="@{/register}" name="register-form-user">
        <div class="register-form">
            <div class="row justify-content-md-center">
                <label class="col-md-auto">
                    Email:
                    <input type="text" class="register-input" name="username">
                </label>
            </div>
            <div class="row justify-content-md-center">
                <label class="col-md-auto">
                    Password:
                    <input type="password" class="register-input" name="password" id="password-user">
                </label>
            </div>
            <div class="row justify-content-md-center">
                <label class="col-md-auto">
                    ConfirmPassword:
                    <input type="password" class="register-input" name="confirmPassword" id="confirmPassword-user">
                </label>
            </div>
            <div class="row justify-content-md-center">
                <button type="submit" class="col-md-auto btn btn-success">Register</button>
            </div>
        </div>
    </form>
</main>
<span th:replace="fragments/footer :: footer"></span>

</body>
</html>